In [1]:
# Basic Libraries
import numpy as np
import pandas as pd

In [2]:
# Importing the wine data
wineData = pd.read_csv('winemag-data-130k-v2.csv')
wineData.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [3]:
# Filtering data (only getting columns of points and taster_name)
filteredWine = pd.DataFrame(wineData[["points", "taster_name"]])

# Dropping the rows where points / taster_name == NaN
filteredWine = filteredWine.dropna()
filteredWine.describe()

              points
count  103727.000000
mean       88.612107
std         2.955039
min        80.000000
25%        87.000000
50%        88.000000
75%        91.000000
max       100.000000

In [4]:
# Getting the unique taster_names
uniqueTasters = filteredWine["taster_name"].unique()
uniqueTasters

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [5]:
tastersDict = {}

# Getting the max, min and stdev of the tasters' scores into a dictionary
for i in uniqueTasters:
    tastersScore = filteredWine[(filteredWine == i).any(axis=1)]
    #display(tastersScore)
    stdev = tastersScore["points"].std()
    maxX = tastersScore["points"].max()
    minN = tastersScore["points"].min()
    index = tastersScore.index
    countT = len(index)
    tastersDict[i] = [maxX, minN, stdev, countT]
    #print("{} has a maximum score of {}, minimum score of {}, and standard deviation of {:.2f}".format(i, maxX, minN, stdev))
    #print()
    
tastersDict

{'Kerin O’Keefe': [100, 80, 2.474240167769019, 10776],
 'Roger Voss': [100, 80, 3.0363727807256753, 25514],
 'Paul Gregutt': [100, 80, 2.814445219283458, 9532],
 'Alexander Peartree': [91, 80, 1.9345106992266201, 415],
 'Michael Schachner': [98, 80, 3.0228593421094647, 15134],
 'Anna Lee C. Iijima': [98, 80, 2.561359447271101, 4415],
 'Virginie Boone': [99, 80, 2.996795911657403, 9537],
 'Matt Kettmann': [97, 81, 2.5712565669221616, 6332],
 'Sean P. Sullivan': [97, 80, 2.4585470224886916, 4966],
 'Jim Gordon': [97, 80, 2.6983407039686735, 4177],
 'Joe Czerwinski': [100, 80, 2.858700937665035, 5147],
 'Anne Krebiehl\xa0MW': [97, 80, 2.373100247210104, 3685],
 'Lauren Buzzeo': [95, 81, 2.5306717784539776, 1835],
 'Mike DeSimone': [94, 82, 1.992549132650219, 514],
 'Jeff Jenssen': [97, 82, 2.0227271803853326, 491],
 'Susan Kostrzewa': [94, 80, 2.3761398185634874, 1085],
 'Carrie Dykes': [92, 81, 1.9986180190392988, 139],
 'Fiona Adams': [91, 82, 1.739436985245808, 27],
 'Christina Pickard': [93, 82, 3.600925806881706, 6]}

In [7]:
# Converting the tastersDict into a panda dataframe
tastersData = pd.DataFrame(tastersDict)

# Renaming the column names
tastersDataNew = tastersData.rename(index={0: 'Max', 1: 'Min', 2: 'Standard Deviation', 3: 'Count'})

display(tastersDataNew)

,Kerin O’Keefe,Roger Voss,Paul Gregutt,Alexander Peartree,Michael Schachner,Anna Lee C. Iijima,Virginie Boone,Matt Kettmann,Sean P. Sullivan,Jim Gordon,Joe Czerwinski,Anne Krebiehl MW,Lauren Buzzeo,Mike DeSimone,Jeff Jenssen,Susan Kostrzewa,Carrie Dykes,Fiona Adams,Christina Pickard
Max,100.00000,100.000000,100.000000,91.000000,98.000000,98.000000,99.000000,97.000000,97.000000,97.000000,100.000000,97.0000,95.000000,94.000000,97.000000,94.00000,92.000000,91.000000,93.000000
Min,80.00000,80.000000,80.000000,80.000000,80.000000,80.000000,80.000000,81.000000,80.000000,80.000000,80.000000,80.0000,81.000000,82.000000,82.000000,80.00000,81.000000,82.000000,82.000000
Standard Deviation,2.47424,3.036373,2.814445,1.934511,3.022859,2.561359,2.996796,2.571257,2.458547,2.698341,2.858701,2.3731,2.530672,1.992549,2.022727,2.37614,1.998618,1.739437,3.600926
Count,10776.00000,25514.000000,9532.000000,415.000000,15134.000000,4415.000000,9537.000000,6332.000000,4966.000000,4177.000000,5147.000000,3685.0000,1835.000000,514.000000,491.000000,1085.00000,139.000000,27.000000,6.000000