# Filtering keywords
Analysing the keywords in the desription and choosing the descriptive key words.

In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import json
import csv

import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopWords = list(set(stopwords.words('english')))

[nltk_data] Downloading package stopwords to /Users/tjay/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [52]:
keywords = pd.read_csv('../../Data/overallCount.csv').sort_values(by=['count'], ascending=False)
keywords

                 keyWord   count
6                    and  347399
9                    the  220975
26                     a  179477
59                    of  172927
38                  with  120409
...                  ...     ...
29626  pinotage-dominant       1
29623             blance       1
29620            sourish       1
29616             hickin       1
46888       well-drained       1

[46889 rows x 2 columns]

**Removing Stop Words.**

We can obeserve that the words with the highest count are not descriptive words (stopwords).\
These rows are removed in order to get descriptive words for better catogisation for the data set.

In [67]:
filteredKeywords = keywords.loc[(~keywords['keyWord'].isin(stopWords))]
filteredKeywords

                 keyWord  count
27                  wine  78038
58               flavors  62679
3                  fruit  45010
0                 aromas  39613
10                palate  38082
...                  ...    ...
29626  pinotage-dominant      1
29623             blance      1
29620            sourish      1
29616             hickin      1
46888       well-drained      1

[46760 rows x 2 columns]

**Removing `wine` for obvious reasons.**

We also remove the word `wine` by logic as, well, we are analysing wine.

In [68]:
filteredKeywords1 = filteredKeywords.loc[(~filteredKeywords['keyWord'].isin(['wine']))]
filteredKeywords1

                 keyWord  count
58               flavors  62679
3                  fruit  45010
0                 aromas  39613
10                palate  38082
21               acidity  34958
...                  ...    ...
29626  pinotage-dominant      1
29623             blance      1
29620            sourish      1
29616             hickin      1
46888       well-drained      1

[46759 rows x 2 columns]

**Keeping frequent keywords**

In order to derive useful catagories for machine learning models, we'll keep the top 25% (>7) keywords.

In [70]:
q3 = filteredKeywords1['count'].quantile(0.75)
selectedKeyWords = filteredKeywords1.loc[(filteredKeywords1['count'] > q3)]

with open("../../Data/topKeywords.csv", "w") as outfile:
        writer = csv.writer(outfile)
        writer.writerow(["keyWord"])
        for value in selectedKeyWords["keyWord"]:
            writer.writerow([value])
        outfile.close()

selectedKeyWords

                  keyWord  count
58                flavors  62679
3                   fruit  45010
0                  aromas  39613
10                 palate  38082
21                acidity  34958
...                   ...    ...
21463               seeks      8
6807          comparative      8
8066   super-concentrated      8
21532             rubbing      8
3448               nicest      8

[10900 rows x 2 columns]